@import "tailwindcss";

@font-face {
  font-family: 'Vouge';
  src: url('./fonts/Vogue.ttf') format('truetype');
}
@font-face {
  font-family: 'Avgar';
  src: url('./fonts/vogue-avant-garde-xlight.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: 'Avgar';
  src: url('./fonts/AVGARDN_2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avgar';
  src: url('./fonts/AVGARDD_2.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Avgar';
  src: url('./fonts/AVGARDDO_2.TTF') format('truetype');
  font-weight: bold;
  font-style: italic;
}
.vouge-font {
  font-family: 'Vouge', sans-serif;
}
.avgar-font {
  font-family: 'Avgar';
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Vouge', sans-serif;
}

.bg-container {
  background-image: url('/hogaartbg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2s infinite ease-in-out;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.cursor {
  animation: blink 1s step-end infinite;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-from-right {
  animation: slideInFromRight 0.3s ease-out forwards;
}